/********** General Styling *********/
*{
  box-sizing:border-box;
}
body{
  font-family: Helvetica;
}
@font-face {
  font-family: myfont;
  src: url(fonts/Jua-regular.ttf);
}

/********** Header Boxes *********/
h1{
  margin-top: 20px;
  text-align: center;
  font-family: myfont;
}
span{
  background-color: pink;
  border: solid black 2px;
  position: absolute;
  top:-2px;
  right:-2px;
  padding: 7px 50px 7px 50px;
  font-family: myfont;
}

/********** Chicken, Beef, Sushi *********/
.chicken{
  background-color: #d59898;
}
.beef{
  background-color: #c14543;
  color: white;
}
.sushi{
  background-color: #e5d198;
}

/********** General Structure *********/
.cajota{
  width:100%;
}
.box{
  background-color: #999;
  border: solid 2px black;
  width: 31.3%;
  float: left;
  margin:1%;
  margin-top: 10px;
  position: relative;
  padding: 30px 15px 0px 15px;
  font-family: myfont;
}

/*---------* Responsive Structure MODs *---------*/
/********** Tablet Layout *********/
@media (min-width:768px) and (max-width:991px){
  .box{
    width: 48%;
  }
  .box3{
    width: 98%;
  }
}
/********** Mobile Layout *********/
@media (max-width:767px){
  .box{
    width: 98%;
  }
}
